# the file's location on docker is: /usr/local/etc/haproxy/haproxy.cfg
# the file's location on the vagrant vm is: /home/vagrant/.scistream/haproxy.cfg

global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    tune.bufsize 100000
    tune.maxrewrite 32768

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000


frontend my_frontend_1
    bind *:5074
    default_backend my_backend_1

backend my_backend_1
    server my_server 192.168.10.10:5074


frontend my_frontend_2
    bind *:5075
    default_backend my_backend_2

backend my_backend_2
    server my_server 192.168.10.10:5075


frontend my_frontend_3
    bind *:5076
    default_backend my_backend_3

backend my_backend_3
    server my_server 192.168.10.10:5076


frontend my_frontend_4
    bind *:6000
    default_backend my_backend_4

backend my_backend_4
    server my_server 192.168.10.10:37000


frontend my_frontend_5
    bind *:6001
    default_backend my_backend_5

backend my_backend_5
    server my_server 192.168.10.10:47000

